body {
  font-family: "Oswald", sans-serif;
}

.logos {
  background-color: #195d10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
  padding: 0%;
}
.logos ul {
  list-style-type: none;
  display: inline-block;
}
.logos ul li {
  display: inline;
  margin-left: 8px;
  gap: 8px;
}
.logos ul li a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.second {
  background-color: #0a3406;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Oswald", sans-serif;
}
.second ul {
  list-style-type: none;
  display: inline-block;
}
.second ul li {
  display: inline;
  margin-left: 8px;
  gap: 8px;
}
.second ul li a {
  color: white;
  text-decoration: none;
}

.second a:hover {
  background-color: white;
  color: black;
}

.dd {
  display: none;
  background-color: #0a3406;
}

.third {
  background-color: #195d10;
}

.points {
  margin-left: 36vw;
  color: #195d10;
  font-family: "Trebuchet MS", sans-serif;
}

.table {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.table thead tr th {
  border: 1px solid black;
  padding: 10px;
}
.table tbody tr td {
  border: 1px solid black;
  padding: 20px;
}

.teams {
  margin-left: 36vw;
  color: #195d10;
  font-family: "Trebuchet MS", sans-serif;
}

.teamlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1440px) {
  .logos {
    background-color: black;
  }
}
@media (max-width: 991px) {
  .second {
    display: none;
  }
  .dd {
    display: block;
  }
}
.stats {
  margin-left: 40vw;
  color: #195d10;
  font-family: "Trebuchet MS", sans-serif;
}

.stat {
  background-color: #195d10;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 25px;
  max-width: 1180px;
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.stat h1 {
  margin-bottom: 0px;
}

.font {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: 100;
}

.iframe {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.latest {
  margin-left: 40vw;
  color: #195d10;
  font-family: "Trebuchet MS", sans-serif;
}

.t {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.t1 {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #195d10;
  font-family: "Trebuchet MS", sans-serif;
}

.sp {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list {
  list-style: none;
  padding-left: 8%;
}
.list ul {
  list-style: none;
  padding-left: 0px;
}
.list ul li {
  margin: 0%;
  padding-left: 0%;
}
.list ul a {
  color: #777777;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.f1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 4%;
}

.f1 a:hover {
  color: black;
}

.address {
  padding-left: 11%;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 11%;
  gap: 5px;
}
.last ul {
  list-style-type: none;
  display: inline-block;
}
.last ul li {
  display: inline;
  margin-left: 8px;
  gap: 8px;
}
.last ul li a {
  color: white;
  text-decoration: none;
}

.bottom {
  background-color: #195d10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  padding: 0%;
  color: white;
  font-family: "Open Sans", sans-serif;
}